body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b0b0f;
  color: #eaeaea;
}

header {
  background: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #8b0000;
}

header h1 {
  margin: 0;
  color: #c0002b;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

.container {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

.card {
  background: #15151c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #222;
}

button {
  background: #8b0000;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background: #a8002f;
}

footer {
  text-align: center;
  padding: 20px;
  background: #111;
  border-top: 1px solid #222;
  margin-top: 40px;
}
